{% extends 'blog/base.html' %}
{% block content %}


<div class="centerstage">

     {% for post in post_list %}
     <div class="post">
        <h1><a href="{% url 'post_detail' pk=post.pk %}"></a></h1>
        <div class="date">
            <h1>{{ post.title }}</h1>
            <p>Published on: {{post.published_date|date:"D M Y"}} </p>
        </div>
     </div>
     <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{post.approve_comments.count}}</a>
</div>
     {% endfor %}
{% endblock %}